/****************/
/* JOUW STYLING */
/****************/

/* SURFACE LAAG: DARK MODE */
@media (prefers-color-scheme:dark) {
	h1 + a {
		background-color: var(--lightgrey) !important;
		color: var(--white) !important;
	}

	section:nth-of-type(1) div {
		background-color: var(--darkgrey) !important;
	}

	section:nth-of-type(2) div {
		background-color: var(--mediumgrey) !important;
	}
	
	section:nth-of-type(2) a {
		color: var(--white) !important;
		border-bottom:1px solid var(--white) !important;
	}

	section:nth-of-type(3) {
		background-color: var(--darkgrey) !important;
	}

	blockquote::before {
		color: var(--lightgrey)  !important;
	}

	section:nth-of-type(6) {
		background-color: var(--darkgrey) !important;
	}
}

/* section reserveer je tickets*/
section:first-of-type {
	position: relative;
	
	height: 100dvh;

	background-image: url("../images/meisjeknuffelendmetnijntje.webp");
	background-position: top center;
	background-size: cover;
	border-radius: var(--section-border-radius);
}

/* tabblad titel Nijntje Museum */
h1 {
	visibility: hidden;
	
	margin: 0;
}

/* openingstijden */
h1 + a {
	position: absolute;
	bottom: 27em;
	left: 1.25em;
	right: 5em;
	
	background-color: var(--white);
	
	font-family: var(--straight);
	text-align: center;
	color: var(--black);
}

/* oranje blob */
section:nth-of-type(1) div {
	position: absolute;
	bottom: 5em;
	left: 1.25em;
	right: 1.25em;
	
	padding: 1.25em;
	padding-bottom: 6em;

	background-color: var(--orange);
	border-radius: 2em;
	
	text-align: center;
}

/* h2 reserveer je tickets */
h2:first-of-type {
	margin-top: 0em;
	margin-bottom: 2em;
	
	font-size: 2em;
	text-align: left;
}

/* beide links in oranje blob */
section:nth-of-type(1) a {
	padding: 1em 2.5em 1em;
	
	border: none;
	border-radius: var(--button-border-radius);

	text-transform: var(--kleineletters);
	text-decoration: none;
}

/* link tijden en prijzen */
#tijdenprijzen {
	position: absolute;
	bottom: 5em;
	left: 1.25em;
	right: 1.25em;
	
	background-color: var(--yellow);
	
	font-family: var(--round);
	color: var(--black);
}

/* link boek tickets */
#boeken {
	position: absolute;
	bottom: 1em;
	left: 1.25em;
	right: 1.25em;
	
	background-color: var(--black);
	
	font-family: var(--round);
	color: var(--white);
}

/* section agenda met data */
section:nth-of-type(2) {
	position: relative;
	
	min-height: 36em;

	background-image: url("../images/wijzendkind.webp");
	background-position: top center;
	background-size: cover;
	border-radius: var(--section-border-radius);
}

/* gele blob met activiteiten */
section:nth-of-type(2) div {
	position: absolute;
	bottom: 2.5em;
	left: 1.5em;
	right: 1.5em;

	min-height: 25em;
	padding: 1.25em;
	padding-bottom: 0em;

	background-color: var(--yellow);
	border-radius: 2em;
}

/* lijst met link blokken */
section:nth-of-type(2) ul {
	position: relative;

	list-style: none;
}

/* link blokken met de 3 elementen */
section:nth-of-type(2) a {
	position: relative;
	left: -2.5em;

	line-height: 0em;
	text-decoration: none;
	color: var(--black);

	display: block; /* bron: stack overflow - https://stackoverflow.com/questions/43554329/html-css-how-to-put-a-line-between-some-rows-of-tables-but-not-all */
	border-bottom:1px solid var(--black);
}

/* data */
a p:first-of-type {
	font-size: 1.125em;
	font-family: var(--straight);
	margin-bottom: .8em;
}

/* activiteit */
a p:last-of-type {
	font-size: 1.25em;
	font-family: var(--round);
	line-height: 1.2em;
	margin-bottom: 1em;
}

/* pijltjes */
.pijltjes {
	position: absolute;
	top: 1em;
	right: -2.5em;
}

/* hover pijltjes */
.pijltjes:hover {
	translate:-2vw;
	transition: .5s;
}

/* section bekijk alle activiteiten */
section:nth-of-type(3) {
	position: relative;
	
	min-height: 18.5em;

	background-color: var(--green);
	border-radius: var(--section-border-radius);
}

/* h2 "in het nijntje museum is van alles te beleven" */
section:nth-of-type(3) h2{
	position: absolute;
	top: 2.5em;
	left: 1em;
	right: 1em;
}

/* link bekijk alle activiteiten */
section:nth-of-type(3) a {
	position: absolute;
	bottom: 4em;
	left: 2em;
	
	padding: 1em 2.5em 1em;
	
	background-color: var(--black);
	border: none;
	border-radius: var(--button-border-radius);
	
	font-family: var(--round);
	text-transform: var(--kleineletters);
	text-decoration: none;
	color: var(--white);
}

/* section dick bruna en zijn quote */
section:nth-of-type(4) {
	position: relative;
	
	height: 100dvh;
	
	background-color: var(--blue);
	border-radius: var(--section-border-radius);
}

/* image dick bruna */
section img {
	position: absolute;
	top: 8em;
	left: 4.2em;
	
	max-width: 68%;

	border-radius: 50%;
}

/* blockquote */
blockquote {	
	position: absolute;
	bottom: 4.5em;
	
	font-size: 2em;
}

/* dubbele haken */
blockquote:before {
	content: "\201C";
	
	position: absolute;
    left: -.8em;
    top: -.6em;
	
	display: block;
    padding-left: .6em;

    font-size: 4.5em;
    color: var(--orange);
}

/* caption "Dick Bruna" */
figcaption {
	position: absolute;
	bottom: 6.5em;
	left: 2em;
	
	font-size: 1.25em;
	font-family: var(--straight);
	text-transform: none;
}

/* section vader met kind wijzend naar nijntje */
section:nth-of-type(5) {
	position: relative;
	
	min-height: 30em;
	
	background-image: url("../images/lachendemoedermetkind.webp");
	background-position: top center;
	background-size: cover;
	border-radius: var(--section-border-radius);
}

/* section over het museum */
section:nth-of-type(6) {
	position: relative;
	
	min-height: 23em;
	
	background-color: var(--green);
	border-radius: var(--section-border-radius);
}

/* h2 "1500m2 aan leerplezier" */
section:nth-of-type(6) h2 {
	position: absolute;
	top: 1.5em;
	left: 1.25em;
}

/* p over het museum */
section:nth-of-type(6) p {
	position: absolute;
	top: 5.5em;
	left: 2em;
	right: 2em;
	
	font-size: 1.25em;
	font-family: var(--straight);
	text-transform: none;
}

/* link over het museum */
section:nth-of-type(6) a {
	position: absolute;
	bottom: 2.5em;
	left: 2em;

	padding: .75em 2.2em .75em;
	
	background-color: var(--yellow);
	border: none;
	border-radius: var(--button-border-radius);
	
	font-size: 1.25em;
	font-family: var(--round);
	text-transform: var(--kleineletters);
	text-decoration: none;
	color: var(--black);
}

/* section tekenend meisje */
section:nth-of-type(7) {
	min-height: 30em;
	
	background-image: url("../images/puzzelendevaderenzoon.webp");
	background-position: top center;
	background-size: cover;
	border-radius: var(--section-border-radius);
}

/* section onze visie */
section:nth-of-type(8) {
	position: relative;
	
	min-height: 26em;
	
	background-color: var(--blue);
	border-radius: var(--section-border-radius);
}

/* h2 "onze visie" */
section:nth-of-type(8) h2 {
	position: absolute;
	top: 1.5em;
	left: 1.25em;
}

/* p over het museum */
section:nth-of-type(8) p {
	position: absolute;
	top: 5.5em;
	left: 2em;
	right: 2em;
	
	font-size: 1.25em;
	font-family: var(--straight);
	text-transform: none;
}

/* link lees meer */
section:nth-of-type(8) a{
	position: absolute;
	bottom: var(--button-border-radius);
	left: 2em;
	
	padding: .75em 2.2em .75em;

	background-color: var(--yellow);
	border: none;
	border-radius: var(--button-border-radius);
	
	font-size: 1.25em;
	font-family: var(--round);
	text-transform: var(--kleineletters);
	text-decoration: none;
	color: var(--black);
}