/* groene vlak */
section:nth-of-type(1) {
    position: relative;
    
    min-height: 25em;
    margin: 0;

    background-color: var(--green);
	border-radius: var(--section-border-radius);
}

/* h1 "over het museum" */
h1 {
    position: absolute;
    bottom: .5em;
    left: .5em;
    
    margin: 0;

    font-size: 3.5em;
    text-transform: lowercase;
}

/* witte vlak (rest vd pagina) */
section:nth-of-type(2) {
    position: relative;
    
    min-height: 112em;
    margin: 0;

    background-color: var(--white);
	border-radius: var(--section-border-radius);
    
    color: var(--black);
}

/* inleiding in grote letters */
section:nth-of-type(2) p:first-of-type {
    position: absolute;
    top: 2em;
    left: .8em;
    right: 1em;
    
    margin: 0;

    font-size: 2em;
    color: var(--black);
}

/* tussen image */
section:nth-of-type(2) img {
    position: absolute;
    top: 29em;
    left: 2em;
    right: 2em;
    
    height: 30em;
    margin: 0;

    border-radius: 2em;
}

/* inleiding in kleine letters */
section:nth-of-type(2) p:nth-of-type(2) {
    position: absolute;
    bottom: 30em;
    left: 1em;
    right: 1em;
    
    margin: 0;

    font-size: 1.3em;
    font-family: var(--straight);
    text-transform: none;
    color: var(--black);
}

/* alle kleine kopjes op de pagina */
h2 {    
    font-size: 1.3em;
    font-family: var(--straight);
}

/* kopje "organisatie" */
h2:first-of-type {
    position: absolute;
    bottom: 26.5em;
    left: 1em;
    right: 1em;
}

/* paragraaf over "organisatie" */
section:nth-of-type(2) p:nth-of-type(3) {
    position: absolute;
    bottom: 25em;
    left: 1em;
    right: 1em;
    
    margin: 0;

    font-size: 1.3em;
    font-family: var(--straight);
    text-transform: none;
    color: var(--black);
}

/* kopje "met dank aan" */
h2:nth-of-type(2) {
    position: absolute;
    bottom: 21.5em;
    left: 1em;
    right: 1em;
}

/* paragraaf over "met dank aan" */
section:nth-of-type(2) p:nth-of-type(4) {
    position: absolute;
    bottom: 14em;
    left: 1em;
    right: 1em;
    
    margin: 0;

    font-size: 1.3em;
    font-family: var(--straight);
    text-transform: none;
    color: var(--black);
}

/* kopje "meer info" */
h2:nth-of-type(3) {
    position: absolute;
    bottom: 10.5em;
    left: 1em;
    right: 1em;
}

/* paragraaf meer over nijntje en dick bruna */
section:nth-of-type(2) p:nth-of-type(5) {
    position: absolute;
    bottom: 10.2em;
    left: 1em;
    right: 1em;
    
    margin: 0;

    font-size: 1.3em;
    font-family: var(--straight);
    text-transform: none;
    color: var(--black);
}

/* paragraaf meer over atelier van dick bruna */
section:nth-of-type(2) p:nth-of-type(6) {
    position: absolute;
    bottom: 7.8em;
    left: 1em;
    right: 1em;
    
    margin: 0;

    font-size: 1.3em;
    font-family: var(--straight);
    text-transform: none;
    color: var(--black);
}

/* paragraaf over foto's dick bruna */
section:nth-of-type(2) p:nth-of-type(7) {
    position: absolute;
    bottom: 6.5em;
    left: 1em;
    right: 1em;
    
    margin: 0;

    font-size: 1.3em;
    font-family: var(--straight);
    text-transform: none;
    color: var(--black);
}

/* paragraaf over overige fotografie */
section:nth-of-type(2) p:nth-of-type(8) {
    position: absolute;
    bottom: 2.8em;
    left: 1em;
    right: 1em;
    
    margin: 0;

    font-size: 1.3em;
    font-family: var(--straight);
    text-transform: none;
    color: var(--black);
}