/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
	box-sizing: border-box;
}


/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* kleuren */
	--white: #ffffff;
	--black: #000000;
	--orange: #ea5b0c;
	--yellow: #fdc800;
	--green: #286f2b;
	--blue: #024d92;

	/* border radius */
	--section-border-radius: 3em;
	--button-border-radius: 2.5em;

	/* fonts */
	--round: HelveticaRoundedBold;
	--straight: HelveticaNeueMedium;

	/* font sizes */
	--footer-list-font-size: 1.1em;

	--footer-line-height: 1.5em;
}

/* @media (prefers-color-scheme:dark) {
	:root {
		--white: #121212;
		--black: #ffffff;
	}
} */

/* @media (prefers-reduced-motion) {
	
} */


/****************/
/* JOUW STYLING */
/****************/

/* fonts */
@font-face {
	font-family: HelveticaRoundedBold;
	src: url("../fonts/HelveticaRoundedBold.ttf");
}

@font-face {
	font-family: HelveticaNeueMedium;
	src: url("../fonts/HelveticaNeueMedium.ttf")
}

/* logo animatie */
@keyframes logo-animation {
	0% {
	  scale: 1;
	}
	
	20% {
		scale: 2;
	}

	40% {
		scale: 1.5;
	}

	60% {
		scale: 2.5;
	}

	80% {
		scale: 1.8;
	}

	100% {
	  scale: 2;
	}
  }

div[aria-label="logo"] img {
	transform-origin: 25% 25%;
}

div[aria-label="logo"]:hover img {
	animation-name: logo-animation;
	animation-duration: 1s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in-out;
  }
  
body {
	margin: 0;
	
	background-color: var(--orange);
	
	font-family: var(--round);
	color: var(--white);
	text-transform: lowercase;
}

header {
	position: relative;
	z-index: 1;
	top: 0;

	width: 100%;
	padding: 0;
}

/* logo */
header img {
	position: absolute;
	top: -1em;
	left: -2.8em;

	width: 9.8em;
	height: 9.8em;
}

/* menu knop */
header button {
	position: fixed;
	top: 1em;
	right: 1em;
	
	padding: .75em 2.2em .75em;

	background-color: var(--white);
	border: none;
	border-radius: var(--button-border-radius);
	
	font-size: 1.2em;
	font-family: var(--straight);
	text-transform: lowercase;
	color: var(--black);
}

/* witte footer vlak */
footer {
	position: relative;
	
	min-height: 30em;
	padding: 1em;
	
	background-color: var(--white);
	border-radius: var(--section-border-radius);

	font-family: var(--round);
	text-transform: lowercase;
	color: var(--black);
}

/* nijntje museum adres + email */
footer ul:first-of-type {
	position: absolute;
	top: 2em;
	left: -1em;
	
	margin: 1em;

	font-size: var(--footer-list-font-size);
	line-height: var(--footer-line-height);
	list-style: none;
}

/* openingstijden */
footer ul:nth-of-type(2) {
	position: absolute;
	top: 8em;
	left: -1em;
	
	margin: 1em;

	font-size: var(--footer-list-font-size);
	line-height: var(--footer-line-height);
	list-style: none;
}

/* cookies */
footer ul:nth-of-type(3) {
	position: absolute;
	top: 12em;
	left: -1em;
	
	margin: 1em;

	font-size: var(--footer-list-font-size);
	line-height: var(--footer-line-height);
	list-style: none;
}

/* email + cookies */
footer a {
	color: var(--black);
}

/* ontvang de nieuwsbrief */
footer button {
	position: absolute;
	bottom: 8em;
	left: 2em;
	right: 2em;
	
	padding: .75em 2.2em .75em;

	background-color: var(--yellow);
	border: none;
	border-radius: var(--button-border-radius);
	
	font-size: 1.2em;
	font-family: var(--round);
	text-transform: lowercase;
	text-decoration: none;
	color: var(--black);
}

/* list social media icons */
footer ul:last-of-type {
	position: relative;
	bottom: -19.5em;
	left: -1.2em;
	
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	list-style: none;
}

/* social media icons */
footer img {
	width: 3.2em;
}

/* copyright */
footer p {
	position: absolute;
	bottom: 5em;
	right: 4em;
	
	font-size: .6em;
	text-transform: none;
}